# ==========================================
# CONFIGURASI API (BACKEND)
# Tempatkan variabel ini di dalam file `api/.env`
# ==========================================

ENV=production
PORT=4000

# Kredensial Telegram (Dapatkan dari my.telegram.org)
TG_API_ID=
TG_API_HASH=

# Konfigurasi Bot Telegram (Dapatkan dari @BotFather)
TG_BOT_TOKEN=
# ID Telegram milik Admin (Dapatkan dari @userinfobot dsb)
TG_BOT_OWNER_ID=

# Konfigurasi Database SQLite
DATABASE_URL="file:./data.db"

# URL WebApp untuk Tombol Bot (Ganti dengan domain WebApp Anda)
WEBAPP_URL="https://domain-anda.com"

# Konfigurasi Storage Cache
CACHE_FILES_LIMIT=20GB

# Maintenance Mode (Isi 'true' jika sedang maintenance)
IS_MAINTENANCE=


# ==========================================
# CONFIGURASI WEB (FRONTEND)
# Tempatkan variabel ini di dalam file `web/.env`
# ==========================================

# URL API (Arahkan ke domain/IP backend Anda)
REACT_APP_API_URL=http://localhost:4000

# Kredensial Telegram (Dapatkan dari my.telegram.org)
REACT_APP_TG_API_ID=
REACT_APP_TG_API_HASH=
